{% extends 'core/base.html' %}
{% block title %} User Profile {% endblock %}

{% block content %}

<div class="grid grid-cols-5 gap-6">
    <div class="grid-cols-3">
        <img src="{{profile.profile_picture.url}}" class="rounded-xl">
    </div>
    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="text-gray-500"><strong>First Name: </strong>{{user.first_name}}</h1>
        <h1 class="text-gray-500"><strong>Last Name: </strong>{{user.last_name}}</h1>
        <p class="text-gray-500"><strong>Email: </strong>{{user.email}}</p>
        <p class="text-gray-500"><strong>Address: </strong>{{profile.address}}</p>
        <p class="text-gray-500"><strong>Tel number: </strong>{{profile.tel_number}}</p>
    </div>
</div>

{% endblock %}